/* Variables to define colour scheme */
:root {
    --primary-color: #BD385F;
    --secondary-color: #FFE3EC;
}

#logo{
    border-radius: 50%;
   height: 75px;
}
/* Navigation menu default hidden on smaller screens activated by menu toggle */
nav {
    display:none; 
}
/* navigation menu style & position */
#nav-menu {
    list-style: none;
    width: 75px;
    min-height: 100px;
    float: right;
    background-color: var(--secondary-color);
    line-height: 2;
    text-align: right;
    padding: 10px;
}
/* navigation menu link style */
#nav-menu a{
    color: var(--primary-color);
    text-decoration: none;
}
/* On hover underline navigation menu link */
#nav-menu a:hover{
    text-decoration-line: underline; 
}
/* toggle display navigation menu on click of icon */
#menu-toggle:checked~nav {
    display: block;
}
/* hide default checkbox */
#menu-toggle {
    display: none;
}
/* styling of menu icon */
#menu-icon {
    width: 75px;
    float: right;
    cursor: pointer;
    margin-bottom:0;
}

/* Rules for larger screens */
@media screen and  (min-width: 768px){
 /* hide menu icon on larger screens */
    #menu-icon {
        display: none; 
    }
    /* show navigation menu on larger screens */
    nav {
        display: block; 
    }
    /* style menu on larger screens */
    #nav-menu {
        display: flex;
        justify-content: space-between;
        width: 75%;
        background-color: transparent;
        position: absolute;
        bottom: 80%;
        left: 20%;
    }

}