/* Variables to define colour scheme */
:root {
    --primary-color: #BD385F;
    --secondary-color: #FFE3EC;
    --background-color: #BD385F80;
    --base-color: #efebec;
}

/* General body styling */
* {
    font-family: garamond, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--base-color);
    color: var(--primary-color);
}

/* Standard text sizing */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/* Logo size and position */
#logo {
    border-radius: 50%;
    height: 75px;
}

/* Navigation menu default hidden on smaller screens activated by menu toggle */
nav {
    display: none;
    height: 130px;
    position: absolute;
    top: 10;
    right: 0;
    z-index: 1;
}

/* navigation menu style & position */
#nav-menu {
    list-style: none;
    width: 75px;
    min-height: 100px;
    float: right;
    background-color: var(--secondary-color);
    line-height: 2;
    text-align: right;
    padding: 10px;
    font-weight: bold;
}

/* navigation menu link style */
#nav-menu a {
    color: var(--primary-color);
    text-decoration: none;
}

/* On hover underline navigation menu link */
#nav-menu a:hover {
    text-decoration-line: underline;
}

/* Underline menu link of current page */
.current-page {
    text-decoration: underline;
    color: var(--primary-color);
}

/* toggle display navigation menu on click of icon */
#menu-toggle:checked~nav {
    display: block;
}

/* hide default checkbox */
#menu-toggle {
    display: none;
}

/* styling of menu icon */
#menu-icon {
    width: 75px;
    cursor: pointer;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
}

/* Hero section styling */
/* Hero image */
#hero {
    height: 200px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center/cover;
}

/* Content and overlay */
#overlay {
    background-color: var(--background-color);
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* bio section styling */
#bio {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
    color: var(--secondary-color);
    text-align: center;
}

/* bio section image styling */
#bio-image {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: 5%;
}

/* bio text styling */
#bio-text {
    /* font-size: 0.75rem; */
    margin: 5%;
}

/* contact link in bio styling */
#bio-text a {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 12px;
    line-height: 2;
}

#news {
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
}

/* positioning for carousel and scroll buttons */
#carousel-container {
    display: flex;
    align-items: center;
}

/* size and style of scroll buttons */
.news-button {
    border: none;
    background-color: transparent;
    width: 75%;
    cursor: pointer;
}

/* Carousel section styling */
#carousel {
    min-width: 70%;
    height: 300px;
    padding: 2%;
    display: flex;
    gap: 5%;
    /* enables use of left and right buttons  */
    overflow-x: scroll;
    /* Hide scrollbar */
    scrollbar-width: none;
}

/* Carousel item styling */
.carousel-item {
    list-style-type: none;
    background-color: var(--secondary-color);
    width: 100%;
    max-height: 90%;
    flex: 0 0 100%;
}


/* Carousel markers position */
#markers {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}

/* Carousel marker styling */
.marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}


/* Rules for larger screens */
@media screen and (min-width: 768px) {

/* Standard text sizing */
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    /* hide menu icon on larger screens */
    #menu-icon {
        display: none;
    }

    #logo {
        height: 100px;
    }

    /* Show navigation menu on larger screens */
    nav {
        display: block;
        width: 100%;
    }

    /* Header content position on larger screens */
    header {
        display: flex;
        flex-direction: row;
    }

    /* style menu on larger screens */
    #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 75%;
        background-color: transparent;
        gap: 20%;
        font-size: 1.25rem;
        margin-right: 1%;
    }

    #hero {
        height: 400px;
        background-position: top;
    }

    #overlay {
        font-size: 2rem;
    }

    /* bio section styling  on larger screens */

    /* bio section image styling on larger screens */
    #bio-image {
        width: 30%;
        height: auto;
        margin-right: 2%;
    }

    /* bio text styling on larger screens */
    #bio-text {
        font-size: 1.5rem;
    }

    /* contact link in bio styling on larger screens */
    #bio-text a {
        line-height: 5;
    }

    /*carousel height on larger screens */
    #carousel {
        height: 500px;
    }

    /* Carousel buttons on larger screens */
    .news-button {
        width: 50%;
    }

    /* Marker size on larger screens */

    .marker {
        width: 20px;
        height: 20px;
    }

}